@media (orientation: portrait) {
    #overlay {
        display: flex;
    }

    #main {
        display: none;
    }
}

@media (max-width: 991px) and (orientation:landscape) {

    #overlay {
        display: none;
    }

    #join-game {
        flex-direction: row;
        max-height: 300px;
        height: 100%;
    }

    #join-game .logo {
        width: 100px;
        height: 100px;
        transform: translateY(-20%);
    }

    #join-game .inputs {
        width: 60%;
        margin-right: 16px;
    }

    #join-game .info {
        margin-left: 16px;
    }

    #game-driver .screen {
        display: none;
    }

    #game-driver .gamepad {
        transform: scale(0.9);
    }

    #game-driver .gamepad__body button::before,
    #game-driver .ctrl__btn::before,
    #game-driver #ctrl--bomb::before {
        display: none;
    }
}

@media (max-width: 767px) and (orientation:landscape) {
    .gamepad {
        transform: scale(0.8);
    }
}