@media (max-width: 1401px) and (orientation:landscape) {
    #overlay,
    #join-game {
        transform: scale(1.3);
    }

    #game-driver .screen {
        display: none;
    }

    #overlay,
    .gamepad {
        transform: scale(1.5);
    }

    #game-driver .gamepad__body button::before,
    #game-driver .ctrl__btn::before,
    #game-driver #ctrl--bomb::before {
        display: none;
    }
}

@media (max-width: 1251px) and (orientation:landscape) {
    #overlay,
    #join-game {
        transform: scale(1);
    }

    #overlay,
    .gamepad {
        transform: scale(1.2);
    }
}

@media (max-width: 991px) and (orientation:landscape) {
    #join-game {
        flex-direction: row;
        max-height: 300px;
        height: 100%;
    }

    #join-game .logo {
        width: 100px;
        transform: translateY(-20%);
    }

    #join-game .inputs {
        margin-right: 16px;
    }

    #join-game .info {
        margin-left: 16px;
    }

    #overlay,
    .gamepad {
        transform: scale(0.9);
    }
}

@media (max-width: 767px) and (orientation:landscape) {
    #overlay,
    .gamepad {
        transform: scale(0.8);
    }
}